[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.7"

[scripts]
migrate = "./rtserver/manage.py migrate"
makemig = "./rtserver/manage.py makemigrations"
mig_games = "./rtserver/manage.py makemigrations games"
mig_players = "./rtserver/manage.py makemigrations players"
server = "./rtserver/manage.py runserver 0.0.0.0:8000"
csu = "./rtserver/manage.py createsuperuser"
redis = "docker run -p 6379:6379 -d redis:2.8"